.message-error {
  color: blue;
}
.preload {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(223, 227, 230, 0.73);
  z-index: 2000;
  cursor: progress;
  display: none;
  opacity: 1;
}
.dropdown-menu-nav{
  position: absolute !important;
  right: 10% !important;

}
