html, body {
  height: 100% !important;
}
.tableApp{
  min-height: 100% !important;
  height: 100% !important;
}
body{
  text-transform: uppercase;
}
input{
  text-transform: lowercase;
}
button{
  text-transform: uppercase;
}
.preload{
  width: 100%;  
  height: 100vh;
  position: fixed;
  z-index: 2000;
  text-align: center;
  background: rgba(0, 0, 0, 0.174);
}
