<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../../../assets/css/login.css">
</head>

<body>
  <div class="container">
    <form class="mi-form" id="my-form">
      <div class="input-form">
        <label for="">Usuario</label>
        <input type="text" id="username">
      </div>
      <div class="input-form">
        <label for="">Correo</label>
        <input type="email" id="email">
      </div>
      <div class="input-form">
        <label for="">Contraseña</label>
        <input type="password" id="password">
      </div>
      <button type="submit">Enviar</button>
      <p id="error"></p>
    </form>
  </div>
  <script src="../../../assets/js/auth2.js"></script>

</body>

</html>